*

!firewall
!firewall/**
!nginx_stream
!nginx_stream/**
!unifi_firewall_writing
!unifi_firewall_writing/**
!dotfiles
!dotfiles/**
!k8s_tls
!k8s_tls/**
!k8s_secret
!k8s_secret/**


!requirements.yml
!.gitignore