server {
    # Listen for incoming HTTPS connections
    listen 443 ssl;

    server_name {{ nginx_stream_default_server_name }};

    # Use the specified certificate for TLS
    ssl_certificate     {{ nginx_stream_certs_path }}fullchain.pem;
    ssl_certificate_key {{ nginx_stream_certs_path }}privkey.pem;

    # TLS settings
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    location / {
        return 404;
    }
}