server {
    # Listen for incoming HTTPS connections
    listen 443 ssl;

    server_name {{ nginx_stream_ha_2_domain }};

    # Use the specified certificate for TLS
    ssl_certificate     {{ nginx_stream_certs_path }}fullchain.pem;
    ssl_certificate_key {{ nginx_stream_certs_path }}privkey.pem;

    # TLS settings
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    resolver [2001:4860:4860::8888] valid=300s;
    set $urlbe {{ nginx_stream_ha_2_domain }}:{{ nginx_stream_ha_2_port }};

    # Proxy based on the hostname
    location / {
        proxy_pass https://$urlbe;
        proxy_ssl_certificate {{ nginx_stream_certs_path }}fullchain.pem;  # Reencrypt with the same certificate
        proxy_ssl_certificate_key {{ nginx_stream_certs_path }}privkey.pem;
        proxy_ssl_protocols TLSv1.2 TLSv1.3;
        proxy_ssl_server_name on;  # Pass the hostname for SNI
    }
}